<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.admin.AdminComListMapper">
    <!--참여 업체 목록 가져오기-->
    <select id="getComList" resultType="CompanyVO" >

        select c.*, u.mg_auth, u.user_regDate
        from Company c
        left join User u on c.com_num = u.com_num
        <choose>
            <when test = 'cri.manageState.equals("2")'>
                where u.mg_auth = "2"
            </when>
            <when test = 'cri.manageState.equals("3")'>
                where u.mg_auth = "3"
            </when>
            <when test = 'cri.manageState.equals("5")'>
                where u.mg_auth = "5"
            </when>
        </choose>

        <choose>
            <when test = 'cri.dateOption.equals("1")'>
                order by c.com_num desc limit #{cri.pageStart}, #{cri.amount}
            </when>
            <when test = 'cri.dateOption.equals("2")'>
                order by c.com_num asc limit #{cri.pageStart}, #{cri.amount}
            </when>
        </choose>


    </select>

<!--    정렬 조건에 따른 참여 업체 목록 total 값 가져오기-->
    <select id="getTotal" resultType="int" >

        select count(c.com_num)
        from Company c
        left join User u on c.com_num = u.com_num
        <choose>
            <when test = 'cri.manageState.equals("2")'>
                where u.mg_auth = "2"
            </when>
            <when test = 'cri.manageState.equals("3")'>
                where u.mg_auth = "3"
            </when>
            <when test = 'cri.manageState.equals("5")'>
                where u.mg_auth = "5"
            </when>
        </choose>

        <choose>
            <when test = 'cri.dateOption.equals("1")'>
                order by c.com_num desc
            </when>
            <when test = 'cri.dateOption.equals("2")'>
                order by c.com_num asc
            </when>
        </choose>


    </select>
    <update id="handleApplication" parameterType="UserVO">
        update User
        set mg_auth = #{mg_auth}
        where com_num = #{com_num}
    </update>

</mapper>