<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.AdminComListMapper">
<!--

    &lt;!&ndash;참여 업체 목록 가져오기&ndash;&gt;
    <select id="getComList" resultType="map" parameterType="AdminComListCriteria">

        select c.*, u.mg_auth, u.user_regDate
        from company c
        left join user u on c.com_num = u.com_num

        <choose>
            <when test = "cri.manageState == '2'">
                where u.mg_auth = "2"
            </when>
            <when test = "cri.manageState == '3'">
                where u.mg_auth = "3"
            </when>
            <when test = "cri.manageState == '5'">
                where u.mg_auth = "5"
            </when>
        </choose>

        <choose>
            <when test = "cri.dateOption == '1'">
                order by c.com_num desc
            </when>
            <when test = "cri.dateOption == '2'">
                order by c.com_num asc
            </when>
        </choose>

    </select>

    &lt;!&ndash;&ndash;&gt;
    <select id="getComList" resultType="map" parameterType="AdminComListCriteria">

        select c.*, u.mg_auth, u.user_regDate
        from company c
        left join user u on c.com_num = u.com_num

        <choose>
            <when test = "cri.manageState == '2'">
                where u.mg_auth = "2"
            </when>
            <when test = "cri.manageState == '3'">
                where u.mg_auth = "3"
            </when>
            <when test = "cri.manageState == '5'">
                where u.mg_auth = "5"
            </when>
        </choose>

        <choose>
            <when test = "cri.dateOption == '1'">
                order by c.com_num desc
            </when>
            <when test = "cri.dateOption == '2'">
                order by c.com_num asc
            </when>
        </choose>

    </select>
-->

</mapper>