<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.AdminMapper">
    <!-- ######################### 메인 페이지 ######################### -->

    <select id="getAuth" resultType="UserVO">
        select mg_auth from User
    </select>


    <select id="getAllData" resultType="EmpVO">
        select J.*, C.com_name from JobPostingList J
            inner join Company C
            on J.com_num = C.com_num
            order by jpl_num desc
    </select>

    <select id="getEmpList" resultType="EmpVO">
        select *
        from JobPostingList
        order by jpl_num desc limit #{pageStart}, #{amount}
    </select>

    <!-- ######################### 통계 페이지 ######################### -->
<!--    유저의 전체 정보를 가져와서 통계그래프에 나타내기 -->
    <select id="getUserInfo" resultType="UserVO">
        select * from User
    </select>

<!--     채용공고의 지원자수 많은거 찾아서 채용공고 제목 가져오기 일단 css먼저하고 나중에할거임 진짜... 박희진..-->
    <select id="">

    </select>

    <!--큐앤에이-->
    <!--큐앤에이 리스트-->
    <select id="agetQnAList" resultType="QnAVO">
        select *
        from QnA
        where qa_type like "%q%"
        order by qa_num desc limit #{cri.pageStart}, #{cri.amount}
    </select>

    <!--페이지네이션-->
    <select id="aQnAGetTotal" resultType="int">
        select count(*) from QnA where qa_type like "%q%"
    </select>


</mapper>
