<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.CompanyMapper">

    <!--################ 채용공고 등록 ###############-->
    <insert id="empRegist" parameterType="EmpVO">
        insert into
            JobPostingList(com_num,
                           jpl_title,
                           jpl_content,
                           jpl_startDate,
                           jpl_endDate,
                           jpl_regDate,
                           jpl_workPosition,
                           jpl_duty,
                           jpl_workHistory,
                           jpl_workForm,
                           jpl_education,
                           jpl_conditions,
                           jpl_certificate,
                           jpl_gender,
                           jpl_salary,
                           jpl_locationSi,
                           jpl_locationGu,
                           jpl_address,
                           jpl_workDay,
                           jpl_workTimeS,
                           jpl_workTimeE,
                           jpl_name,
                           jpl_companyName,
                           jpl_contact,
                           jpl_phoneNum,
                           jpl_email,
                           jpl_fileName,
                           jpl_filePath,
                           jpl_fileUuid)
        values (#{com_num},
                #{jpl_title},
                #{jpl_content},
                #{jpl_startDate},
                #{jpl_endDate},
                date_format(now(), '%Y-%m-%d'),
                #{jpl_workPosition},
                #{jpl_duty},
                #{jpl_workHistory},
                #{jpl_workForm},
                #{jpl_education},
                #{jpl_conditions},
                #{jpl_certificate},
                #{jpl_gender},
                #{jpl_salary},
                #{jpl_locationSi},
                #{jpl_locationGu},
                #{jpl_address},
                #{jpl_workDay},
                #{jpl_workTimeS},
                #{jpl_workTimeE},
                #{jpl_name},
                #{jpl_companyName},
                #{jpl_contact},
                #{jpl_phoneNum},
                #{jpl_email},
                #{jpl_fileName},
                #{jpl_filePath},
                #{jpl_fileUuid}
               )

    </insert>


    <!--##################채용공고 수정##################-->

    <update id="empModify" parameterType="EmpVO">
        update
            JobPostingList
        set com_num=#{com_num},
            jpl_title=#{jpl_title},
            jpl_content=#{jpl_content},
            jpl_startDate=#{jpl_startDate},
            jpl_endDate=#{jpl_endDate},
            jpl_regDate=date_format(now(), '%Y-%m-%d'),
            jpl_workPosition=#{jpl_workPosition},
            jpl_duty=#{jpl_duty},
            jpl_workHistory=#{jpl_workHistory},
            jpl_workForm=#{jpl_workForm},
            jpl_education=#{jpl_education},
            jpl_conditions=#{jpl_conditions},
            jpl_certificate=#{jpl_certificate},
            jpl_gender=#{jpl_gender},
            jpl_salary=#{jpl_salary},
            jpl_locationSi=#{jpl_locationSi},
            jpl_locationGu=#{jpl_locationGu},
            jpl_address=#{jpl_address},
            jpl_workDay=#{jpl_workDay},
            jpl_workTimeS=#{jpl_workTimeS},
            jpl_workTimeE=#{jpl_workTimeE},
            jpl_name=#{jpl_name},
            jpl_companyName=#{jpl_companyName},
            jpl_contact=#{jpl_contact},
            jpl_phoneNum=#{jpl_phoneNum},
            jpl_email=#{jpl_email},
            jpl_fileName=#{jpl_fileName},
            jpl_filePath=#{jpl_filePath},
            jpl_fileUuid=#{jpl_fileUuid}

where jpl_num = #{jpl_num}

    </update>

    <!-- ######################### QnA 관련 ######################### -->
        <!-- 큐앤에이 등록 -->
    <insert id="cqnaRegist" parameterType="QnAVO">
        insert into QnA(user_id, com_num, qa_content, qa_type, qa_reply)
        values (#{user_id}, #{com_num}, #{qa_content}, #{qa_type}, #{qa_reply})
    </insert>
        <!-- 큐앤에이 리스트 -->
    <select id="cgetQnAList" resultType="QnAVO">
        select * from QnA where qa_type like "%q%" and com_num =#{com_num} order by qa_num desc limit #{cri.pageStart}, #{cri.amount}
    </select>
        <!-- 큐앤에이 유저 상세 -->
    <select id="getUserQnADetail" resultType="QnAVO">
        select * from QnA where qa_num = #{qa_num}
    </select>
        <!-- 큐앤에이 기업정보 데이터 가져오기 -->
    <select id="cQnAInfo" resultType="UserVO">
        select * from User where user_id = #{user_id}
    </select>
        <!-- 큐앤에이 답변 가져오기 -->
    <select id="getQnAReply" resultType="QnAVO">
        select c.* from qna u
                            inner join qna c
                                       on u.qa_num = c.qa_reply
        where u.qa_num=#{qa_num}
    </select>


    <!-- ######################### Session 관련 ######################### -->
        <!-- 기업정보 불러오기-->
    <select id="info" resultType="CompanyVO">
        select *
        from company
        where com_num = #{com_num}

    </select>

    <!-- ######################### 채용공고 상세보기 페이지 ######################### -->
        <!-- 기업이 등록한 채용공고 상세페이지 가져오기-->
    <select id="getEmpData" resultType="EmpVO">
        select *
        from JobPostingList
        where jpl_num = #{jpl_num}
    </select>

        <!-- 기업이 등록한 채용공고 total 개수 -->
    <select id="getTotalJpl" resultType="int">
        select count(*) from JobPostingList where com_num = #{com_num}
    </select>

        <!-- 공고에 지원한 지원자 수 total -->
    <select id="getTotalAl" resultType="int">
        select count(*) from ApplyList where jpl_num = #{jpl_num}
    </select>

        <!-- 채용공고에 지원한 지원자들 리스트 가져오기 -->
    <select id="getApplicantList" resultType="map">
        select * from ApplyList al
            left outer join ResumeList r
            on al.res_num = r.res_num
            where al.jpl_num = #{jpl_num}
            limit #{cri.pageStart}, #{cri.amount}
    </select>

        <!-- 이력서 열람/미열람 상태 변경 -->
    <update id="chgApplicantState">
        <if test= 'al_state == "X"'>
            update ApplyList set al_state = 'O' where res_num = ${res_num}
        </if>
        <if test= 'al_state == "O"'>
            update ApplyList set al_state = 'X' where res_num = ${res_num}
        </if>
    </update>


        <!-- 기업이 등록한 채용공고 리스트 가져오기 -->
    <select id="getComJobPosingList" resultType="EmpVO">
        select * from JobPostingList
                 where com_num = #{com_num} limit #{cri.pageStart}, #{cri.amount}
    </select>


        <!-- 큐앤에이 기업 상세 -->
    <select id="getComQnADetail" resultType="QnAVO">
        select c.* from qna u
                            inner join qna c
                                       on u.qa_num = c.qa_reply
        where u.qa_num=#{qa_num}
    </select>

    <!--페이지네이션-->
    <select id="cQnAGetTotal" resultType="int">
        select count(*) from QnA where qa_type like "%q%" and com_num =#{com_num}
    </select>

    <!--####################### 기업 메인 페이지 #######################-->
        <!--현황판 전체 공고 수, 진행 중 채용공고 수 가져오기-->
    <select id="getStatusPosting" resultType="map">
        select count(*) totalPosting, (select count(*) from JobPostingList
                          where jpl_endDate >= sysdate() and com_num = #{com_num}) ing
        from JobPostingList
        where com_num = #{com_num}
    </select>
        <!--현황판 전체 이력서 수, 열람한 이력수 수 가져오기-->
    <select id="getStatusRes" resultType="map">
        select count(*) totalRes, (select count(*) from ApplyList al
                          left outer join JobPostingList jpl
                          on jpl.jpl_num = al.jpl_num
                          where jpl.com_num = #{com_num} and al_state = 'O') seeRes
        from ApplyList al
        left outer join JobPostingList jpl
                   on jpl.jpl_num = al.jpl_num
        where jpl.com_num = #{com_num};
    </select>
        <!-- 기업이 등록한 최신공고 2개 -->
    <select id="getRecentPosting" resultType="EmpVO">
        select * from JobPostingList
        where com_num = #{com_num}
        order by jpl_regDate desc
        limit 2
    </select>

    <select id="getRecentApplicant" resultType="map">
        select * from ApplyList al
                left outer join JobPostingList jpl
                on al.jpl_num = jpl.jpl_num
                left outer join ResumeList rl
                on al.res_num = rl.res_num
        where com_num = #{com_num}
        order by al.al_regDate desc
        limit 2
    </select>


</mapper>