<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.CompanyMapper">

    <!--################ 채용공고 등록 ###############-->
    <insert id="empRegist" parameterType="EmpVO">
        insert into
            JobPostingList(com_num,
                           jpl_title,
                           jpl_content,
                           jpl_startDate,
                           jpl_endDate,
                           jpl_regDate,
                           jpl_workPosition,
                           jpl_duty,
                           jpl_workHistory,
                           jpl_workForm,
                           jpl_education,
                           jpl_conditions,
                           jpl_certificate,
                           jpl_gender,
                           jpl_salary,
                           jpl_locationSi,
                           jpl_locationGu,
                           jpl_address,
                           jpl_workDay,
                           jpl_workTimeS,
                           jpl_workTimeE,
                           jpl_name,
                           jpl_companyName,
                           jpl_contact,
                           jpl_phoneNum,
                           jpl_email,
                           jpl_fileName,
                           jpl_filePath,
                           jpl_fileUuid)
        values (#{com_num},
                #{jpl_title},
                #{jpl_content},
                #{jpl_startDate},
                #{jpl_endDate},
                date_format(now(), '%Y-%m-%d'),
                #{jpl_workPosition},
                #{jpl_duty},
                #{jpl_workHistory},
                #{jpl_workForm},
                #{jpl_education},
                #{jpl_conditions},
                #{jpl_certificate},
                #{jpl_gender},
                #{jpl_salary},
                #{jpl_locationSi},
                #{jpl_locationGu},
                #{jpl_address},
                #{jpl_workDay},
                #{jpl_workTimeS},
                #{jpl_workTimeE},
                #{jpl_name},
                #{jpl_companyName},
                #{jpl_contact},
                #{jpl_phoneNum},
                #{jpl_email},
                #{jpl_fileName},
                #{jpl_filePath},
                #{jpl_fileUuid}
               )

    </insert>

    <!-- ######################### QnA 관련 ######################### -->
        <!-- 큐앤에이 등록 -->
    <insert id="cqnaRegist" parameterType="QnAVO">
        insert into QnA(user_id, com_num, qa_content, qa_type, qa_reply)
        values (#{user_id}, #{com_num}, #{qa_content}, #{qa_type}, #{qa_reply})
    </insert>
        <!-- 큐앤에이 리스트 -->
    <select id="cgetQnAList" resultType="QnAVO">
        select * from QnA where qa_type like "%q%" order by qa_num desc
    </select>
        <!-- 큐앤에이 유저 상세 -->
    <select id="getUserQnADetail" resultType="QnAVO">
        select * from QnA where qa_num = #{qa_num}
    </select>
        <!-- 큐앤에이 기업정보 데이터 가져오기 -->
    <select id="cQnAInfo" resultType="UserVO">
        select * from User where user_id = #{user_id}
    </select>
        <!-- 큐앤에이 답변 가져오기 -->
    <select id="getQnAReply" resultType="QnAVO">
        select c.* from qna u
                            inner join qna c
                                       on u.qa_num = c.qa_reply
        where u.qa_num=#{qa_num}
    </select>


    <!-- ######################### Session 관련 ######################### -->
        <!-- 기업정보 불러오기-->
    <select id="info" resultType="CompanyVO">
        select *
        from company
        where com_num = #{com_num};

    </select>

    <!-- ######################### 채용공고 상세보기 페이지 ######################### -->
        <!-- 기업이 등록한 채용공고 상세페이지 가져오기-->
    <select id="getEmpData" resultType="EmpVO">
        select *
        from JobPostingList
        where jpl_num = #{jpl_num};

    </select>

        <!-- 기업이 등록한 채용공고 리스트 가져오기 -->
    <select id="getComJobPosingList" resultType="map">
        select * from JobPostingList where com_num = #{com_num}
    </select>
        <!-- 큐앤에이 기업 상세 -->
    <select id="getComQnADetail" resultType="QnAVO">
        select c.* from qna u
                            inner join qna c
                                       on u.qa_num = c.qa_reply
        where u.qa_num=#{qa_num}
    </select>

</mapper>