<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.common.join.JoinMapper">
    <!-- 아이디 중복 확인   -->
    <select id="checkSameId" resultType="int" parameterType="UserVO">
        select count(*) from User where user_id = #{user_id}
    </select>

    <!--  user 정보 등록  -->
    <insert id="uJoin" parameterType="UserVO">
        INSERT INTO User (USER_ID, USER_PW, MG_AUTH, USER_NAME, USER_RRN, USER_EMAIL, USER_PHONE, USER_REGDATE, USER_GENDER, com_num)
        VALUES ( #{user_id}, #{user_pw}, #{mg_auth}, #{user_name}, #{user_rrn}, #{user_email}, #{user_phone}, now(), #{user_gender}, -1 )
    </insert>

    <!-- company 정보 등록   -->
    <insert id="cJoin" parameterType="CompanyVO">
        insert into Company (com_name, com_phone, com_email, com_address, com_detail_address, com_category, com_ceo, com_businessRegistration, com_establishmentDate)
        values ( #{com_name}, #{com_phone}, #{com_email}, #{com_address}, #{com_detail_address}, #{com_category}, #{com_ceo}, #{com_businessRegistration}, #{com_establishmentDate} )
    </insert>

    <!-- 기업 회원 가입시 기업의 num을 회원의 com_num 칼럼에 넣어주는 기능   -->
    <update id="insertComNum" parameterType="UserVO">
        update User
        set com_num = (select com_num
                       from Company
                       order by com_num desc
                       limit 1)
        where user_id = #{user_id};
    </update>

</mapper>