<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungjin.jobfair.service.UserMapper">

    <!--**************************************************로그인 관련**************************************************-->
        <!--로그인시 비밀번호 같은지 비교-->
    <select id = "getEncodePw" resultType="String" parameterType="UserVO">
        select user_pw from User where user_id = #{user_id}
    </select>
        <!--로그인-->
    <select id="login" resultType="UserVO">
        select *
        from User
        where user_id = #{user_id}
    </select>
        <!--유저정보 불러오기-->
    <select id="info" resultType="UserVO">
        select *
        from User
        where user_id = #{id}
    </select>


    <!--**************************************************Q&A**************************************************-->
        <!--유저 큐앤에이 등록-->
    <insert id="qnaRegist" parameterType="QnAVO">
        insert into QnA(user_id, qa_title, qa_content, qa_regDate, qa_type)
        values (#{user_id}, #{qa_title}, #{qa_content}, date_format(now(), '%Y-%m-%d') , #{qa_type})
    </insert>
    <!--유저 큐앤에이 리스트-->
    <select id="getQnAList" resultType="QnAVO">
        select *
        from QnA
        where qa_type like "%q%"
        order by qa_num desc
    </select>
        <!--큐앤에이 상세페이지-->
    <select id="getQnADetail" resultType="QnAVO">
        select *
        from QnA
        where qa_num = #{qa_num}
    </select>
        <!--큐앤에이 수정-->
    <update id="uQnAModi" parameterType="QnAVO">
        update QnA set qa_title = #{qa_title} , qa_content = #{qa_content}
        where qa_num = #{qa_num}
    </update>


    <!--**************************************************채용공고**************************************************-->
        <!--채용공고 리스트-->
    <select id="getJobPostList" resultType="EmpVO">
        select *
        from jobpostinglist j
                 left join company c on j.com_num = c.com_num
        order by jpl_num desc
    </select>
        <!--채용공고 상세검색-->
    <select id="getJobPostSrc" resultType="EmpVO">
        select * from jobpostinglist
        where jpl_locationSi like #{jpl_locationSi} and
            jpl_locationSi like #{inputSearch} and
            jpl_locationGu like #{jpl_locationGu} and
            jpl_locationGu like #{inputSearch} and
            jpl_duty like #{jpl_duty} and
            jpl_duty like #{inputSearch} and
            jpl_workHistory like #{jpl_workHistory} and
            jpl_workHistory like #{inputSearch} and
            jpl_education like #{jpl_education} and
            jpl_education like #{inputSearch} and
            jpl_salary like #{jpl_salary} and
            jpl_salary like #{inputSearch} and
            jpl_certificate like #{jpl_certificate} and
            jpl_certificate like #{inputSearch} and
            jpl_conditions like #{jpl_conditions} and
            jpl_conditions like #{inputSearch} and
            jpl_workForm like #{jpl_workForm} and
            jpl_workForm like #{inputSearch}
    </select>


    <!--**************************************************마이페이지 이력서**************************************************-->
        <!--이력서정보-->
    <select id="resumeInfo" resultType="ResumeVO">
        select * from ResumeList
    </select>
        <!--이력서 지우기-->
    <delete id="deleteResume">
        delete from ResumeList where res_num = #{res_num}
    </delete>

    <!--    <select id="uQnABtnClick" resultType="QnAVO">-->
    <!--        select * from JOBPOSTINGLIST where jpl_num = #{jpl_num}-->
    <!--    </select>-->


    <!--    박희진 작성중-->
    <!--    <select id="'EmpRegistInfo'" resultType="EmpVO">-->
    <!--        select * from JobPostingList-->
    <!--    </select>-->


    <!--**************************************************이력서 관련**************************************************-->
        <!--이력서 등록-->
    <insert id="regResume" parameterType="ResumeVO" useGeneratedKeys="true" keyProperty="res_num" keyColumn="res_num">
        insert into ResumeList (user_id, res_title, res_content, res_regDate,
                                res_picName, res_picPath, res_picUuid, res_name, res_email,
                                res_phone, res_address, res_birth)
        values (#{user_id}, #{res_title}, #{res_content}, date_format(now(), '%Y-%m-%d'),
                #{res_picName}, #{res_picPath}, #{res_picUuid}, #{res_name}, #{res_email},
                #{res_phone}, #{res_address}, #{res_birth})
    </insert>

        <!--이력서 학력등록-->
    <insert id="regResEdu" parameterType="EduVO">
        insert into Education (res_num, user_id, edu_degree, edu_schoolName, edu_major, edu_entranceDate,
                               edu_graduationDate,
                               edu_state, edu_grades, edu_totalGrades)
        values (#{res_num}, #{user_id}, #{edu_degree}, #{edu_schoolName}, #{edu_major}, #{edu_entranceDate},
                #{edu_graduationDate}, #{edu_state}, #{edu_grades}, #{edu_totalGrades})
    </insert>
        <!--이력서 경력등록-->
    <insert id="regResWe" parameterType="WeVO">
        insert into WorkExperiences (res_num, user_id, we_company, we_department, we_position, we_job, we_emplDate,
                                     we_departureDate, we_salary)
        values (#{res_num}, #{user_id}, #{we_company}, #{we_department}, #{we_position}, #{we_job}, #{we_emplDate},
                #{we_departureDate}, #{we_salary})
    </insert>
        <!--이력서 자격증 등록-->
    <insert id="regResCert" parameterType="CertVO">
        insert into Certificate (res_num, user_id, cert_name, cert_gainDate, cert_issueInstitute)
        values (#{res_num}, #{user_id}, #{cert_name}, #{cert_gainDate}, #{cert_issueInstitute})
    </insert>
</mapper>