/* 개인회원, 기업회원 선택 버튼 css*/
.choice_joinTypeWrap{
    width: 100%;
    list-style: none;
    text-align: center;
}
.choice_joinTypeWrap li{
    display: inline-block;
    width: 50%;
}
.choice_joinTypeWrap li label{
    width: 100%;
    margin: 0;
}
.choice_joinTypeWrap > li:first-child label{
    border-radius: 0.375rem 0 0 0 ;
}
.choice_joinTypeWrap > li:last-child label{
    border-radius: 0 0.375rem 0 0 ;
}
.choice_joinTypeWrap li label:hover{
    background-image: linear-gradient(310deg, #1AB7EA 0%, #0d6efd 100%);
    /*background-image: linear-gradient(310deg, #141727 0%, #0d6efd 100%);*/
}
.selected_joinType{
    background-image: linear-gradient(310deg, #1AB7EA 0%, #0d6efd 100%);
    color: #FFFFFF;
    font-weight: 400;
}

/*데이터 입력 폼 css*/
.data_title_wrap span{
    display: inline-block;
    height: 100%;
}

.data_title_wrap span:first-child{
    margin-right: 10px;
}
.data_title_wrap span:last-child{
    font-size: 12px;
}

/*유효성 검사 에러메세지 css*/
.pass_error{
    color: red;
}
/*유효성 검사 통과 시 글자색 초록색*/
.pass_color{
    color: green;
}

/*form 태그 안 css*/
.data_insert_box{
    /* data 입력되는 input 태그들*/
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.userBox > div{
    padding: 5px;
    margin: 0;
}
.CompanyBox .MemberInfo > div{
    padding: 5px;
}
.button_in_form{
    background-color: #0064ff;
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    transition: all 0.15s ease-in;
}

/*id 입력 , 중복확인 부분*/
.id_input_wrap{
    display: flex;
    justify-content: space-between;
}
.id_input_wrap input{
    display: inline-block;
    width: 80%;
}
.id_input_wrap button{
    display: inline-block;
    margin: 0;
}
/*핸드폰 입력, 인증번호 전송버튼 부분*/
.userPh_input_wrap{
    display: flex;
    justify-content: space-between;
}
.userPh_input_wrap input{
    display: inline-block;
    width: 72%;
}
.userPh_input_wrap button{
    display: inline-block;
}

/*성별타입 부분*/
.gender_type_wrap{

}
.gender_type_wrap > div{
    display: inline-block;
    margin-right: 10px ;
}

/*생년월일 입력부분*/
.birth_select_wrap{
    display: flex;
    justify-content: space-between;
}
.birth_select_wrap select{
    display: block;
    width: 33%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: right;
}

/*인증번호 확인 부분*/
.certif_input_wrap{
    display: flex;
    justify-content: space-between;
}
.certif_input_wrap input{
    display: inline-block;
    width: 70%;
}
.certif_input_wrap button:first-child{
    display: inline-block;
}

/*동의항목, 가입하기 버튼 부분*/
.form-bottom {
    padding: 10px 5px;
    overflow: hidden;
}
.form-bottom > input{
    display:block;
    margin: auto;
}

/*기업 설립일 작성부분*/
/*.esDateWrap{*/
/*    overflow: hidden;*/
/*}*/
/*.esDateWrap div{*/
/*    display: inline-block;*/
/*    float: left;*/
/*    padding: 6px 12px 6px 0;*/
/*}*/
/*.esDateWrap input {*/
/*    display: inline-block;*/
/*    float: right;*/
/*    width: 80%;*/
/*}*/
