/* 개인회원, 기업회원 선택 버튼 css*/
.choice_joinTypeWrap{
    width: 100%;
    list-style: none;
    text-align: center;
}
.choice_joinTypeWrap li{
    display: inline-block;
    width: 50%;
}
.choice_joinTypeWrap > li:first-child{
}
.choice_joinTypeWrap li label{
    width: 50%;
    margin: 0;
    background-color: #0064ff;
}
.choice_joinTypeWrap > li:first-child label{
    border-radius: 0.5rem 0 0 0 ;
}
.choice_joinTypeWrap > li:last-child label{
    border-radius: 0 0.5rem 0 0 ;
}
.choice_joinTypeWrap li label:hover{
    background-image: linear-gradient(310deg, #141727 0%, #0d6efd 100%);
}

/*form 태그 안 css*/
.data_insert_box{
    display: block;
    width: 90%;
}
.userBox > div{
    padding: 5px;
    margin: 0;
}
.CompanyBox .MemberInfo > div{
    padding: 5px;
}
.button_in_form{
  background-color: #0064ff;
}

/*id 입력 , 중복확인 부분*/
.id_part button{
    margin: 0;
}
.id_part span{
    margin-left: 10px;
}

/*핸드폰 입력 부분*/
.phoneWrap button{
    margin: 0;
}
/*인증번호 확인 부분*/
.certifWrap .certif_btn{
    margin-right: 10px;
}


